<div class="ui card" style="margin: 5%; height: min-content">
  <div class="image" style="height: 220px; position: static" {{action 'editProduct' @model @secId @prod.id}}>
    {{#if @prod.image}}
      <img class="" height="220px" src={{@prod.image}}>
    {{else}}
      <img class=""
           src="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg" height="220px">
    {{/if}}
  </div>

  <div class="content" style="background-color: white" {{action 'editProduct' @model @secId @prod.id}}>
    <a class="header">{{@prod.name}}</a>
    <div class="description">{{@prod.price}}€</div>
  </div>
  {{outlet @prod.id}}
</div>
