<div class="ui segment" style="opacity: 80%; background-color: seagreen;">
  <div style="display: flex; flex-direction: row;">
    <div class="ui inverted relaxed divided list" {{action "sectionDetails" @model @id}}>
      <h1 class="title">{{@name}}</h1>
    </div>
    <div style="margin-left: auto; width: max-content">
      <a class="ui button" style="margin-left: auto;" {{action "sectionDetails" @model @id}}>DETAILS DE LA SECTION</a>
      <a class="ui button blue" {{action "ajouterProduit" @model @name @id}}>AJOUTER UN PRODUIT</a>
      <a class="ui button red" {{action "supprimer" @model @id}}>Supprimer</a>
    </div>
  </div>
  <p class="short-description"  {{action "sectionDetails" @model @id}}>{{@description}}</p>
  {{outlet @name}}
</div>
{{yield}}
