{{page-title "Contacts"}}
<ul>
  {{#each @model as |contact|}}
    <li><p>{{contact.nom}} {{contact.prenom}} {{contact.mail}}</p></li>
  {{/each}}
  {{outlet}}
  <div>
    <button {{action "addContact"}}>Ajouter un contact</button>
  </div>
</ul>
<br/>
