{{page-title "Edit"}}
<form class="ui form" style="padding: 5px;">
  <h4 class="ui dividing header">Modifier le produit</h4>
  <div class="three fields">
    <div class="field column">
      <label>Nom
        {{input value=@model.produit.name type="text" placeholder="Nouveau nom"}}
      </label>
    </div>
    <div class="field column">
      <label>Prix
        {{input value=@model.produit.price type="number" placeholder="0.0"}}
      </label>
    </div>
    <div class="field column">
      <label>Image
        {{input value=@model.produit.image type="text" placeholder="0.0"}}
      </label>
    </div>
  </div>
  <div class="field">
    <label>Description
      {{input type="text" value=@model.produit.comments placeholder="Nouvelle description" style="height: 50px;"}}
    </label>
  </div>

  <div class="ui button green" tabindex="0" {{action "saveProduct" newName newPrice nouvDesc}}>Enregistrer</div>
  <LinkTo @route="sections.edit.edit.delete" @model={{@model}}>
    <div class="ui button red" tabindex="0">Supprimer</div>
  </LinkTo>
  {{outlet}}
</form>
