{{page-title "Edit"}}
<div class="field">
  {{input value=nouveauNom placeholder="Nouveau nom pour la section" type="text"}}
  <button type="submit">Enregistrer</button>
</div>

{{#each @model.products as |prod|}}
  <p>{{prod.name}}</p>
  <Product-view @name={{prod.name}} @comment={{prod.comment}} @image={{prod.image}}></Product-view>
{{/each}}
{{outlet}}
