{{page-title "TD1"}}

<div style="background-color: transparent;">
  <div>
    <div class="ui menu" style="background-color: rgba(34,139,34, 1);">
      <div class="item active" {{action "toMenu"}}>
        Tableau de bord
      </div>
      <div class="right floated menu">
        <a class="item" {{action 'login'}}>
          <p>{{is-connected @model.userAuth.isAuth}}</p>
        </a>
      </div>
    </div>
  </div>
  {{outlet}}
</div>
