{{page-title "Categories"}}
<div>
  <BsNav @type="tabs" as |nav|>
  {{#each @model as |cat|}}
    <nav.item>
      <nav.link-to @route="categories.contacts" @model={{cat.id}}>{{cat.nom}}</nav.link-to>
    </nav.item>
  {{/each}}
  </BsNav>
  {{outlet}}
  <button {{action "addCategory"}}>Ajouter une catégorie</button>
</div>
<br/>
