{{page-title "Login"}}

<div style="display: flex; flex-flow: column nowrap;">
  <label for="utilisateur" style="width: max-content; margin: auto;">Nom d'utilisateur</label>
  <Input id="utilisateur" type="text" style="width: max-content; margin: auto;" @value={{name}}/>

  <label for="pass" style="width: max-content; margin: auto;">Mot de passe</label>
  <Input type="password" style="width: max-content; margin: auto;" @value={{password}}/>

  <input {{action 'login' name password}} type="submit" style="width: max-content; margin: auto;">
</div>

{{outlet}}
