{{page-title "Sections"}}
<div style="display: flex; flex-flow: column nowrap;">
  <div style="margin: 0.5% auto;">
    <a class="ui button">AJOUTER UNE SECTION</a>
  </div>

  <div style="display: flex; flex-flow: column nowrap; width: 50%; margin: auto;">
    {{#each @model.sections as |sec|}}
      <Section-ui @name={{sec.name}} @description={{sec.description}} @id={{sec.id}} @model={{@model}}></Section-ui>
    {{/each}}
  </div>
</div>

{{outlet}}
