{{page-title "Sections"}}
<div style="display: flex; flex-flow: column nowrap;">
  <div style="margin: 0.5% auto;">
    <a class="ui button" {{action "addSection"}}>AJOUTER UNE SECTION</a>
    {{outlet}}
  </div>

  {{#each @model.sections as |sec|}}
    <div style="display: inline-flex; margin: 0 0 1% 1%;">
      <Section-ui @name={{sec.name}} @description={{sec.description}} @id={{sec.id}} @model={{@model}}></Section-ui>
    </div>
    {{outlet sec.id}}
  {{/each}}
</div>

